# Performing ELT process by extracting data from kaggle, connecting to Google Cloud SQL and Performing SQL Queries

## Read data from CSV file

In [10]:
import pandas as pd
df = pd.read_csv('orders.csv', na_values =['Not Available','unknown'])
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

## Handle null values

In [11]:
# Check for null values and also for distinct values
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

## Rename column names to lower case and remove spaces

In [18]:
#df.columns
#df.columns = df.columns.str.lower() #This will convert column names in lower case
#df.columns = df.columns.str.replace(' ','_') # This will remove space and add'_'
df.columns
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

### Create a new column of discount, sale_price, and profit

In [24]:
#Since we already have list_price and discount percent, we will calculate discount amount and create a new column called 'discount'
df['discount'] = df['list_price']*df['discount_percent']*0.01 #discount
df.head(20)

#Now we have to calculate sale_price
df['sale_price'] = df['list_price']-df['discount'] #sale_price
df.head()

#Now we have to calulate the profit
df['profit'] = df['sale_price'] - df['cost_price'] #Profit
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

### convert order_date in datetime format

In [28]:
#current data type of order_date is 'object'
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d") #We have entered capital Y because its 4 numbers
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

### Drop cost_price, list_price, and discount_percent columns as we don't need them now

In [34]:
df.drop(columns=['cost_price','list_price','discount_percent'])

KeyError: "['cost_price', 'list_price', 'discount_percent'] not found in axis"

In [35]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8

### Now we are done with the cleaning above, changed data type of date, dropped unnecessary columns, and done with calculations

### Next we will load the data in SQL Server

In [36]:
pip install pymysql sqlalchemy pandas

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp39-cp39-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: pandas in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (1.4.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: six>=1.5 in c:\users\singh\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Downloading sqlalchemy-2.0.40-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.1 MB 5.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.6/2.1 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 4.1 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp39-cp39-win_amd64.whl (298 kB)
Installing collected packages: pymysql, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 pymysql-1.1.1 sqlalchemy-2.0.40

In [60]:
from urllib.parse import quote_plus
from sqlalchemy import create_engine

# Replace with your details
USER = "singhpravesh882"  # Default MySQL root user
PASSWORD = "pravesh882"
HOST = "34.55.16.96"  # Find this in Cloud SQL instance details
DATABASE = "SQL_PYTHON_PROJECT"
connection_string = "mysql+pymysql://{}:{}@{}/{}".format("singhpravesh882", "pravesh882", "34.55.16.96", "SQL_PYTHON_PROJECT")

print("Connection String:", connection_string)  # Debugging step

# ✅ Create the SQLAlchemy Engine
engine = create_engine(connection_string)

print(df)

Connection String: mysql+pymysql://singhpravesh882:pravesh882@34.55.16.96/SQL_PYTHON_PROJECT
      order_id order_date       ship_mode    segment        country  \
0            1 2023-03-01    Second Class   Consumer  United States
1            2 2023-08-15    Second Class   Consumer  United States
2            3 2023-01-10    Second Class  Corporate  United States
3            4 2022-06-18  Standard Class   Consumer  United States
4            5 2022-07-13  Standard Class   Consumer  United States
...        ...        ...             ...        ...            ...
9989      9990 2023-02-18    Second Class   Consumer  United States
9990      9991 2023-03-17  Standard Class   Consumer  United States
9991      9992 2022-08-07  Standard Class   Consumer  United States
9992      9993 2022-11-19  Standard Class   Consumer  United States
9993      9994 2022-07-17    Second Class   Consumer  United States

                 city       state  postal_code region         category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     sub_category       product_id  quantity  discount  sale_price  profit
0       Bookcases  FUR-BO-10001798         2       5.2       254.8    14.8
1          Chairs  FUR-CH-10000454         3      21.9       708.1   108.1
2          Labels  OFF-LA-10000240         2       0.5         9.5    -0.5
3          Tables  FUR-TA-10000577         5      19.2       940.8   160.8
4         Storage  OFF-ST-10000760         2       1.0        19.0    -1.0
...           ...              ...       ...       ...         ...     ...
9989  Furnishings  FUR-FU-10001889         3       1.2        28.8    -1.2
9990  Furnishings  FUR-FU-10000747         2       3.6        86.4    16.4
9991       Phones  TEC-PH-10003645         2       5.2       254.8    34.8
9992        Paper  OFF-PA-10004041         4       0.9        29.1    -0.9
9993   Appliances  OFF-AP-10002684         2       7.2       232.8    22.8

[9994 rows x 16 columns]

In [42]:
import sys
print(sys.version)

3.9.0 (tags/v3.9.0:9cf6752, Oct  5 2020, 15:34:40) [MSC v.1927 64 bit (AMD64)]

In [62]:
df.to_sql('df_orders', con= connection_string, index=False, if_exists='replace')

9994

## The connection to Google Cloud SQl was Successful and below are the queries that were performed for df_orders table

### 1. View top 10 rows of df_orders
![My Image](Query1.png)

### 2. Select top 10 products by revenue
![My Image](Query2.png)

### 3. Find top 5 highest selling products in each region
![My Image](Query3.png)

### 4. Find month over month growth comparison for 2022 and 2023 sales (Example: Jan2022 vs Jan2023)
![My Image](Query4.png)

### 5. For each category which month had highest sales?
![My Image](Query5.png)

### 6. Which sub-category had the highest growth in profit in 2023 compared to 2022?
![My Image](Query6.png)